html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.mdc-typography--headline3 {
  margin: 10px 10px;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}
